*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}




/*.containerPadre{
    font-display: flex;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#cajero{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

.containerUno{
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    background-color: red;
}

.containerDos{
    margin: 3%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}*/